<div class="bar">
    <button id="demo-menu-lower-left"
    class="mdl-button mdl-js-button mdl-button--icon">
<i class="material-icons">more_vert</i>
</button>
</div>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" routerLink="/characters/all">All</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" routerLink="/characters/beatles">The Beatles</li>
  <li class="mdl-menu__item" routerLink="/characters/doors">The Doors</li>
</ul>
<router-outlet></router-outlet>