
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
        <h5>{{character.name}}</h5>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="onAssign('beatles')">
        The Beatles
      </a>
      <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" (click)="onAssign('doors')">
          The Doors
        </a>
    </div>
  </div>